form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    width: 30rem;
    
    input {
        background: rgba($color: #eeeeee, $alpha: 0.4);
        padding: .6rem 1.3rem;
        font-size: 1.3rem;
        color: #fff;
        font-style: italic;
        border-radius: 5px;
        margin-bottom: .9rem;
        width: 100%;
        height: 5rem;
    }

    button {
        background-color: #fff;
        color: #1b1b1b;
        padding: .7rem 2rem;
        font-size: 2rem;
        font-weight: bold;
        border-radius: 5px;
        width: 100%;
        cursor: pointer;
        font-style: italic;
        font-family: cursive;
        text-transform: uppercase;
    }
}